
<% provide(:title,'Login')  %>

<div class="container">
<h2 class="form-signin-heading"> Sign in</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control',placeholder:"Email address"  %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control',placeholder:"Password" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me </span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  </div>
</div>
