
    

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
       
    
    <nav>
    <h3>  <%= link_to "Speakmedicare.com", 'root', id: "logo" %></h3>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   'root' %></li>
       
       <% if logged_in? %> 
       <li><%= link_to "Users", '#' %></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
            <% else %>
           <li><%= link_to "Consult a Doctor Now",   login_path %></li>
           <li><%= link_to "Are you a Doctor?", docsign_path %></li>

          
           <% end %>
  </ul>
       
    
  </div>
  </nav>
