<!DOCTYPE html>
<html>
<head>
   <title><%= yield(:title) %> |  speakmedicare.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <% flash.each do |message_type, message| %>
       <h2> <div  class="alert alert-danger"-<%= message_type %>"><%= message %></div></h2>
      <% end %>
   <%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>

